@media screen and (min-width: 100px) and (max-width: 1279px) {
    .banner {
        position: relative;
    }
    .bannerTitle {
        font-family: $header-font-family;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $alt-bg-colour;
        color: $alt-font-colour;
        font-size: 14px;
        padding: 5px 40px 5px 40px;
    }
}
@media screen and (min-width: 1280px) {
    .banner {
        position: relative;
    }
    .bannerTitle {
        font-family: $header-font-family;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $alt-bg-colour;
        color: $alt-font-colour;
        padding: 20px 180px 20px 180px;
    }
}