@media screen and (min-width: 100px) and (max-width: 1279px) {
    header {
        font-family: $header-font-family;
        .navBar {
            margin: 0 auto;
            width: 100%;
            background-color: lightgray;
            height: 60px;
            display: flex;
            flex-direction: row;
            #topNav {
                nav {
                    display: none;
                }
            }
            #logo {
                width: 116px;
                padding: 15px 0 0 15px;
            }
            .menuNav {
                position: absolute;
                background-color: lightgray;
                display: flex;
                align-items: center;
                width: 32px;
                height: 20px;
                right: 5%;
                top: 30px;
                &:hover {
                    cursor: pointer;
                }
                .menuButton {
                    width: 32px;
                    height: 4px;
                    background-color: $alt-bg-colour;
                    border-radius: 5px;
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: 32px;
                        height: 4px;
                        background-color: $alt-bg-colour;
                        border-radius: 5px;
                    }
                    &::before {
                        transform: translateY(-8px);
                    }
                    &::after {
                        transform: translateY(8px);
                    }
                }
            }
            #botNav {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    header {
    font-family: $header-font-family;
    .navBar {
        margin: 0 auto;
        width: 1280px;
        background-color: lightgray;
        #topNav {
            background-color: $alt-bg-colour;
            height: 10px;
            nav {
                width: 600px;
                float: right;
                text-align: center;
                padding-top: 10px;
                background-color: $alt-bg-colour;
                border-radius: 0 0 0 50px;
                ul {
                    li {
                    display: inline;
                    padding: 0 50px 0 50px;
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $alt-font-colour;
                        }
                        a:hover {
                            text-decoration: underline;
                            opacity: 80%;
                        }
                    }
                }
            }
        }
        #logo {
            width: 275px;
            height: 95px;
            margin: 60px 0 0 30px;
        }
        #logo:hover {
            cursor: pointer;
        }
        #botNav {
            nav {
                text-align: right;
                margin-right: 70px;
                ul {
                    li {
                        display: inline;
                        padding: 0 35px 0 35px;
                        a {
                            text-decoration: none;
                            color: $main-font-colour;
                        }
                        a:hover {
                            color: $main-red;
                        }
                    }
                }
            }
        }
    }
}
}

