header {
    font-family: $header-font-family;
    .navBar {
        margin: 0 auto;
        width: 1280px;
        background-color: lightgray;
        #topNav {
            background-color: $alt-bg-colour;
            height: 10px;
            nav {
                width: 600px;
                float: right;
                text-align: center;
                padding-top: 10px;
                background-color: $alt-bg-colour;
                border-radius: 0 0 0 50px;
                ul {
                    li {
                    display: inline;
                    padding: 0 50px 0 50px;
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $alt-font-colour;
                        }
                        a:hover {
                            text-decoration: underline;
                            opacity: 80%;
                        }
                    }
                }
            }
        }
        #logo {
            background-color: $main-grey;
            width: 275px;
            height: 95px;
            margin-left: 20px;
        }
        #logo:hover {
            cursor: pointer;
        }
        #botNav {
            nav {
                text-align: right;
                margin-right: 70px;
                ul {
                    li {
                        display: inline;
                        padding: 0 35px 0 35px;
                        a {
                            text-decoration: none;
                            color: $main-font-colour;
                        }
                        a:hover {
                            color: $main-red;
                        }
                    }
                }
            }
        }
    }
}
