@media screen and (min-width: 100px) and (max-width: 767px) {
    footer {
        font-family: $header-font-family;
        .footBar {
            margin: 0 auto;
            width: 100%;
            background-color: lightgray;
        }
        #footTitle {
            display: none;
        }
        .partnerSection {
            display: none;
        }
        #socials {
            float: right;
            margin-top: 30px;
            img {
                margin-right: 10px;
                &:hover {
                    cursor: pointer;
                    opacity: 80%;
                }
            }
        }
        .footInfo {
            li {
                list-style: none;
            }
        }
        .footNav {
            display: none;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
    footer {
        font-family: $header-font-family;
        .footBar {
            margin: 0 auto;
            width: 100%;
            background-color: lightgray;
        }
        #footTitle {
            text-align: center;
        }
        .partnerSection {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .partners:hover {
                cursor: pointer;
                opacity: 80%;
            }
        }
        #socials {
            float: right;
            margin: 30px 50px 0 0;
            img {
                margin-right: 10px;
                &:hover {
                    cursor: pointer;
                    opacity: 80%;
                }
            }
        }
        .footInfo {
            display: none;
        }
        .footNav {
            height: 100px;
            nav {
                margin-top: 30px;
                ul {
                    display: flex;
                    flex-direction: row;
                    width: 500px;
                    li {
                        margin: 0 auto;
                        padding-right: 10px;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $main-font-colour;
                            &:hover {
                                color: $main-red;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1281px) {
    footer {
        font-family: $header-font-family;
        .footBar {
            margin: 0 auto;
            width: 100%;
            background-color: lightgray;
        }
        #footTitle {
            text-align: center;
        }
        .partnerSection {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .partners:hover {
                cursor: pointer;
                opacity: 80%;
            }
        }
        #socials {
            float: right;
            margin: 30px 8% 0 0;
            img {
                margin-right: 10px;
                &:hover {
                    cursor: pointer;
                    opacity: 80%;
                }
            }
        }
        .footInfo {
            display: none;
        }
        .footNav {
            height: 100px;
            nav {
                margin-top: 30px;
                ul {
                    display: flex;
                    flex-direction: row;
                    width: 800px;
                    li {
                        margin: 0 auto;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $main-font-colour;
                            &:hover {
                                color: $main-red;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}