@media screen and (min-width: 100px) and (max-width: 767px) {
    header {
        font-family: $header-font-family;
        .navBar {
            margin: 0 auto;
            width: 100%;
            background-color: $main-bg-colour;
            height: 75px;
            display: flex;
            flex-direction: row;
            #topNav {
                nav {
                    display: none;
                }
            }
            #logo {
                width: 116px;
                padding: 15px 0 0 15px;
            }
            .menuNav {
                position: absolute;
                background-color: $main-bg-colour;
                display: flex;
                align-items: center;
                width: 32px;
                height: 20px;
                right: 5%;
                top: 30px;
                &:hover {
                    cursor: pointer;
                }
                .menuButton {
                    width: 32px;
                    height: 4px;
                    background-color: $alt-bg-colour;
                    border-radius: 5px;
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: 32px;
                        height: 4px;
                        background-color: $alt-bg-colour;
                        border-radius: 5px;
                    }
                    &::before {
                        transform: translateY(-8px);
                    }
                    &::after {
                        transform: translateY(8px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    header {
        font-family: $header-font-family;
        text-transform: uppercase;
        .navBar {
            margin: 0 auto;
            width: 100%;
            background-color: $main-bg-colour;
            height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        margin: 0 auto;
                        padding-right: 20px;
                        padding-top: 10px;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $main-font-colour;
                            &:hover {
                                color: $main-red;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        #Logo1 {
            width: 116px;
            padding: 15px 0 0 15px;
        }
        .menuNav {
            display: none;
        }
    }
}

@media screen and (min-width: 1281px) {
    header {
        font-family: $header-font-family;
        text-transform: uppercase;
        .navBar {
            margin: 0 auto;
            width: 100%;
            background-color: $main-bg-colour;
            height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        margin: 0 auto;
                        padding-right: 50px;
                        padding-top: 10px;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $main-font-colour;
                            &:hover {
                                color: $main-red;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        #Logo1 {
            width: 116px;
            padding: 15px 50px 0 15px;
        }
        .menuNav {
            display: none;
        }
    }
}