#servicesMain {
    font-family: $main-font-family;
    width: 1280px;
    margin: 0 auto;
    .servicesHeading {
        color: $main-red;
        font-family: $header-font-family;
    }
    .servicesInfo {
        color: $main-font-colour;
    }
    .servicesBgImg {
        background-color: lightgray;
        height: 740px;
        position: relative;
        img {
            display: inline;
        }
        p {
            color: $main-font-colour;
            position: absolute;
            top: 20px;
            left: 20px;
            width: 300px;
        }
    }
}